<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SysCondominio.APP.Properties.Settings.Configuração"
      connectionString="server=mysql669.umbler.com;user id=jardel1995;password=Dinheiro2019;persistsecurityinfo=True;database=syscondominiodb;port=41890"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>